# Auto detect text files and perform LF normalization
*        text=auto


*.ts    text eol=lf merge=union 
*.tsx   text eol=lf merge=union 
*.rs    text eol=lf merge=union 
*.js    text eol=lf merge=union 
*.json  text eol=lf merge=union 
*.debug text eol=lf merge=union 

.yarn/releases/*.js linguist-detectable=false
package.json merge=keepLocal
yarn.lock merge=keepLocal
.github/workflows/test-release.yaml merge=keepLocal
# cli/src/api/templates/js-binding.ts merge=keepLocal
# cli/src/utils/__tests__/__snapshots__/target.spec.ts.snap binary merge=keepLocal
.gitattributes merge=keepLocal
